<%- include('../partials/header')  %> 
    <div class="container">
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <p><a class="btn btn-primary btn-lg" href="/blog/create" role="button">Create</a></p>
        </div>
    </div>
<%- include('../partials/footer')  %> 